.App {
  text-align: center;
}
.todoApp{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{
  margin-top: 2rem;
  text-align: center;
}

input, button{
  padding: 0.2rem 0.3rem;
}
button{
  margin: 0 0.2rem;
}
.todo-list{
  border-collapse: collapse;
}
.todo-list>tr,td{
  border: 1px solid black;
}